.numbers {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 100px);
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(4, 70px);
}
.zero {
  grid-column: span 2;
}

button {
  text-align: center;
  padding: 0.7rem 0.3rem;
  border-collapse: collapse;
  border: none;
  background-color: rgb(220, 224, 220);
  font-size: 1.6rem;
}
button:is(:hover, :focus-visible) {
  background-color: rgb(197, 202, 197);
}
.output {
  grid-column: 1/-1;
  grid-row: 1;
  text-align: right;
  background-color: rgb(110, 110, 110);
  color: white;
  padding: 0.1em 0.9em;
  word-break: break-all;
}

.currvalue-operand {
  padding: 0.9rem 0.2rem;
  font-size: 2rem;
}
.operations {
  background-color: rgba(245, 72, 10, 0.9);
  color: white;
}
.operations:is(:hover, :focus-visible) {
  transition: all 0.2s ease-in-out;
  background-color: rgb(245, 129, 87);
}
